.container {
    height: 100vh;
    padding: 10%;
}

.link {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 8px;
}

.link:hover {
    border: 1px solid cornflowerblue;
    color: dodgerblue;
}